.admin-list.grid {
  width: 70%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;

  li {
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
    width: calc(49% - 2px);
    border: 1px solid #bfbfbf;
    transition: background-color .5s;

    &:hover {
      background-color: #f7f7f7;
    }

    a {
      padding: 1rem;
      background: none;
    }

    [dir = "ltr"] & {
      &:nth-child(odd) {
        margin-right: .5rem;
      }
      &:nth-child(even) {
        margin-left: .5rem;
      }
    }

    [dir = "rtl"] & {
      &:nth-child(odd) {
        margin-left: .5rem;
      }
      &:nth-child(even) {
        margin-right: .5rem;
      }
    }
  }
}
