.admin-list.grid.with-icons {
  @media screen and (min-width: 480px) {
    width: 70%;
    margin: 0 auto;
  }

  li a {
    &[href $= "/admin/structure/types"] {
      background-image: url("icons/content-types.svg");
    }

    &[href $= "/admin/structure/media"] {
      background-image: url("icons/media-bundles.gif");
    }

    &[href $= "/admin/structure/taxonomy"] {
      background-image: url("icons/taxonomy.svg");
    }

    &[href $= "/admin/config/people/accounts"] {
      background-image: url("icons/users.svg");
    }
  }
}
